<div class="container">
  <div class="row">
    <div class="recommendation-index-section text-center">
      <h2 class="recommendation-index-heading">みんなのおすすめサウナ</h2>
      <p>皆様のおすすめの整い施設を紹介してください！</p>    
      
    </div>
  </div>
</div>
