<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 about-pic-side">
			<h1>サウナBakaとは？</h1>
		</div>
		<div class="col-lg-6 about-text-section pb-5">
			<h3 class="mt-5 about-text-heading mb-4">サウナ好きの為のサウナの為の交流サイト</h3>
			<p>管理人『だいだい』こと私がサウナの気持ちよさに目覚めたのは12才の頃。この世界の虜になったのは
				まだサウナーという言葉が存在しなかった頃だった。最近は昔の『サウナ＝おじさんだけがいく場所』の
				イメージが変わり、老略男女、さまざまな客層の方がサウナ施設に足を運ぶようになった。
				私としては大好きなサウナがみんなに好かれていく事がとても嬉しく、もっと素敵なサウナをサウナ好きな
				方々と共感したり紹介できたりする事ができる場所を提供し、サウナコミュニティーを活性化できたらという
				思いで『さうなBaka』を立ち上げました。
			</p>
			<br>
			<h5>サウナ上級者の方も初心者の方も皆様が楽しく交流できるような楽しい場所にできたらと思います。</h5>
			<h3 class="mt-5 text-center">さぁ、一緒に『整い』の世界を楽しもう！</h3>	
		</div>
	</div>
</div>
