// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.saunas-index {
  background-image: image-url("saunas-index.jpeg");
  background-size: cover;
  background-position: center;
  color: #EEEEE7;
}

.fw-light {
 font-size: 70px;
}

.saunas-index-text {
  color: #ecf0eff1;
}

.show-photo {
  width: 100%;
}

.sauna-name {
  font-style: italic;
  font-weight: bold;
}

.show-table {
  border-bottom: 1px solid rgb(218, 214, 214);
}

@media (max-width: 650px) {
  
.show-table td{
    display: block;
  }

.item {
  background-color: rgb(221, 215, 215);
}  

}
