// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.saunas-index {
  background-image: image-url("saunas-index.jpeg");
  background-size: cover;
  background-position: center;
  color: #EEEEE7;
}

.fw-light {
 font-size: 70px;
}

.saunas-index-text {
  color: #1cf3faf1;
  font-weight: bold;
  font-size: 35px;
}

.index-span {
  font-size: 15px;
  color: #144e36f1;
  font-weight: bold;
}

.sauna-search {
  padding: 2px 8px; 
}

.show-photo {
  width: 100%;
}

.sauna-name {
  font-style: italic;
  font-weight: bold;
}

.show-table {
  border-bottom: 1px solid rgb(218, 214, 214);
}

// レスポンシブ //
@media screen and (min-width: 995px) {

  .card {
    width: 280px;
    min-height: 400px;
  }

}

@media screen and (min-width: 1200px) {

  .card {
    width: 350px;
    min-height: 400px;
  }

}

@media screen and (max-width: 994px) {

  .card {
    min-height: 500px;
  }

}

@media screen and (max-width: 650px) {
  
  .show-table td{
      display: block;
    }
    
  .item {
    background-color: rgb(221, 215, 215);
  }  

}

@media screen and (max-width: 350px) {

  .water-temperature {
    font-size: 15px;
  }
   
  .sauna-temperature {
    font-size: 15px;
  }

}

