// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favorite-delete-button {
	color: rgb(224, 140, 140);
}

.favorite-delete-button:hover {
	opacity: 0.8;
	color: rgb(224, 140, 140);
}

.favorite-count {
	text-decoration: none!important;
	color: rgb(100, 98, 98);
}

.likeIcon {
	color: red;
}

.unlikeIcon {
	color: grey; 
}

@media screen and (max-width: 995px) {

	.favorite-word {
		display: none;
	}

}
